Source: shotplan
Maintainer: Michel MEHL <michel.mehl@slashetc.fr>
Section: misc
Priority: optional
Standards-Version: 4.7.0
Build-Depends: debhelper-compat (= 13)

Package: shotplan
Homepage: https://github.com/michelm33/shotplan
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, shell-api (>=1.0-0)
Description: Test plan execution tool providing screenshots and videos reporting
 Test plan execution tool providing screenshots and videos reporting